.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.gitattributes
.yarnrc
.eslintignore
esbuild.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.snapshots/**
vscode-snapshots-*
combine_*
combined_*
gg.py
scripts/**
.github/**
node_modules/**
dist/**/*.map
cli/**
.cursor/**
GEMINI.md
.kiro
